.dh {
    &-chartable {
        display: grid;
        grid-template-columns: 0.85fr repeat(7, 0.6fr);
        grid-auto-rows: minmax(32px, auto);
        grid-auto-flow: row;

        select,
        input[type='number'],
        .dh-chartable__cell,
        .dh-chartable__cell--head {
            height: 100%;
            text-align: center !important;
            text-align-last: center !important;
        }

        &__cell {
            border-left: $grid-border;
            border-top: $grid-border;
            font-family: $font-family-alt;

            .dh-field__input {
                border-right: none !important;
            }

            &--left {
                // font-weight: bold;
                border-top: $grid-border;
            }

            &--head {
                // font-weight: bold;
                border-left: $grid-border;
            }

            //&--highlight {
            //    font-weight: bold;
            //}
        }
    }
}
