@import 'grids_templates';

$grid-tables: (
    skill: 0.9fr 0.7fr 0.4fr 0.4fr,
    talent: 1.5rem 1fr 3rem 3rem,
    trait: 1.5rem 1fr 3rem 3rem,
    wounds: 1.5rem 1fr 5rem 3rem,
    corruption: 1.5rem 1fr 3rem,
    insanity: 1.5rem 1fr 3rem,
    criticalinjury: 1.5rem 1fr 3rem,
    armour: 1.5rem 1.5fr 1fr 1fr 0.75fr 3rem,
    armourmod: 1.5rem 1.5fr 1fr 0.75fr 3rem,
    weapon: 1.5rem 1.5fr 1fr 1fr 0.75fr 4rem,
    psychic: 1.5rem 1.5fr 1fr 0.75fr 5rem,
    weaponmod: 1.5rem 1.5fr 1fr 0.75fr 3rem,
    attackspecial: 1.5rem 1.5fr 1fr 1fr 3rem,
    critical: 1.5rem 1fr 1fr 3rem,
    cybernetic: 1.5rem 1.5fr 1fr 0.75fr 3rem,
    forcefield: 1.5rem 1.5fr 0.75fr 0.75fr 0.75fr 4rem,
    experience: 1fr 0.25fr,
    storageloc: 1.5rem 1fr 3rem,
    storagegear: 1.5rem 1fr 1fr 3rem,
    backpack: 1fr 0.5fr,
    ammo: 1.5rem 1fr 3rem,
    bonuses: 1fr 0.5fr 3rem,
    aptitude: 1.5rem 1fr 3rem,
    activeeffects: 1.5rem 1fr 3rem,
    journal: 1.5rem 2fr 0.75fr 0.75fr 3rem,
    peerenemy: 1.5rem 2fr 0.75fr 3rem,
    gear: 1.5rem 1fr 1fr 3rem 3rem,
    attackprompt: 2rem 1fr 3rem,
);

// Shared grid styles for both dh-* (legacy) and rt-* (new) prefixes
@mixin grid-field-styles {
    &-field,
    &-textarea {
        @extend %grid-row;
    }

    &-field__span,
    &-field__header,
    &-field__input,
    &-textarea__header,
    &-textarea__input {
        @extend %grid-cell;
    }

    &-grid-template1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &-grid-template-settings {
        display: grid;
        grid-template-columns: 1.5rem 1fr;
    }

    &-grid-template1-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    &-grid-template2-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    @each $span in [2, 3, 4, 5, 6] {
        &-grid-col-#{$span} {
            grid-column: span $span;
        }
        &-grid-row-#{$span} {
            grid-row: span $span;
        }
    }
}

// RT grid classes - primary prefix for Rogue Trader VTT
.rt {
    @include grid-field-styles;

    &-grid-col-1-offset {
        grid-column: 1 / -1;
    }

    // Generate rt-*table classes for each table type
    @each $table, $layout in $grid-tables {
        &-#{$table}table {
            &--no-border {
                .table-row {
                    grid-template-columns: $layout;

                    &--head {
                        grid-template-columns: $layout;
                    }

                    &--highlight {
                        grid-template-columns: $layout;
                    }
                }
            }

            &--border {
                .table-row {
                    grid-template-columns: $layout;

                    &--head {
                        grid-template-columns: $layout;
                    }

                    &--unknown {
                        grid-template-columns: $layout;
                    }
                }
            }
        }
    }

    &-table {
        h1 {
            grid-column: 1 / -1;
        }

        .table-roll {
            text-align: left !important;

            span {
                text-align: left;
            }
        }

        // Note: rt-table--no-border and rt-table--border inherit styles
        // from the generated rt-*table classes above via the @each loop
    }

    &-controls {
        grid-column: span 2;

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: $margin-small;
            margin: $margin-small;
        }
    }

    &-settingswrapper {
        grid-column: span 2;
        display: flex;
        flex-direction: column;

        > * {
            flex-grow: 1;
        }
    }
}
