<div class="dh-panel spacer dh-grid-col-2 dh-grid-row-1">
    <h1 class="dh-panel__header">Profit Factor</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Starting</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.profitFactor.starting" value="{{system.rogueTrader.profitFactor.starting}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Current</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.profitFactor.current" value="{{system.rogueTrader.profitFactor.current}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Misfortunes</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.profitFactor.misfortunes" value="{{system.rogueTrader.profitFactor.misfortunes}}" />
    </div>
</div>
